@model IEnumerable<TaskManager.Models.Task>
@{
    ViewData["Title"] = "Completed";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:green">Tamamlanan Görevler</h1>

<table class="table table-striped table-bordered" id="jsTable">
    <thead>
        <tr>
            <th>
                Başlık:
            </th>
            <th>
                Görevin Açıklaması:
            </th>
         

            <th>
              Tamamlanma Tarihi:
            </th>
           
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.ExecutionDate)
                </td>
                
            </tr>
        }
    </tbody>
</table>
@section Scripts{
<script type="text/javascript">
        $(document).ready( function () {
        $('#jsTable').DataTable({"language": {
            "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Turkish.json"
        }});
    } );
</script>
}