@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">GÖREV YÖNETİCİSİNE HOŞGELDİNİZ.</h1>
    <p>Learn about <a class="nav-link text-white" asp-area="" asp-controller="Task" asp-action="Index">Görev Listesi</a>.</p>
</div>
